@import "compass/reset";
@import "compass/css3";

body{
  background: url("../images/libra.jpg");
  color:white;


}

.header {
  .search-bar {
    width: 100%;
    img {
      display: inline-block;
    }
    .search {
      display: inline-block;
      width: 90%;
      margin: 0 auto;
      text-align: right;
    }
  }

  .menu {
    text-align:center;
    ul {
      background: cornflowerblue;
      color: white;

      padding: 10px;
      li {
        display: inline-block;
        margin-left: 40px;
      }
    }
  }
}

.container {
  .option {
    display: inline-block;
    button {
      width: 100px;
      height: 50px;
      font-size: 16px;
      background-color: cornflowerblue;
      color: white;
      margin-bottom: 10px;
      border-radius: 8px;
      border: 1px solid black;
    }

  }

  img {
    width: 400px;
    height: 450px;
    margin-left: 30px;

  }
  .hello{
    font-size: 36px;
    margin-top: 40px;
  }
  .msg{
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  text-align: center;
}

.img {
  height: 30px;
  width: 30px;
}

.footer {
  height: 100px;
  text-align: center;
  padding: 30px;
}